* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: chocolate;
}

span {
  color: black;
}

